.nav-container {
  display: flex;
  justify-content: center;
  background-color: #20af6c;
  width: 100%;
}

.nav-item {
  list-style: none;
  padding: 20px;
}

.nav-item a {
  font-size: 29px;
  text-decoration: none;
  color: rgb(231, 231, 231);
  font-weight: bold;
}

.nav-item a:hover {
  color: white;
  cursor: pointer;
  text-decoration: underline;
}

@media ( max-width: 900px ) {
  .nav-item {
    padding: 10px;
  }

  .nav-item a {
    font-size: 17px;
  }
}