* {
  margin: 0;
  padding: 0;
}

.projetos-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: auto;
}

.projetos-container .title {
  align-self: center;
  font-size: 26px;
  margin-top: 20px;
}

.projeto-card {
  display: flex;
  margin: 20px 0 10px 0;
  padding: 10px;
  background-color: rgb(228, 228, 228);
}

.projeto-card .imagem {
  border: 1px solid black;
  margin-right: 10px;
  width: 150px;
}

.textos a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-weight: bold;
}

.textos a:hover {
  text-decoration: underline;
}

.textos .descricao {
  font-weight: lighter;
}

@media ( max-width: 810px ) {
  .projetos-container {
    width: 100%;
  }

  .projeto-card {
    flex-direction: column;
    align-items: center;
  }

  .projeto-card .imagem {
    margin-bottom: 15px;
  }

  .projeto-card .textos {
    text-align: center;
  }
}